@using System.Text
@inject HttpClient Http
@inject Grid Grid;

<div>
    @(_gridToHtml)
</div>

@functions {

    [Parameter]
    private int SelectedIterations { get; set; }

    Grid _currentGrid;
    private MarkupString _gridToHtml;

    protected override async Task OnInitAsync()
    {
        var initialListOfCells = new List<Cell>
        {
            new Cell(1, 1, CellState.Alive),
            new Cell(1, 2, CellState.Alive),
            new Cell(1, 3, CellState.Alive),
            new Cell(2, 1, CellState.Alive),
            new Cell(2, 2, CellState.Alive),
            new Cell(3, 2, CellState.Alive),
            new Cell(3, 3, CellState.Alive)
        };

        _currentGrid = new Grid(initialListOfCells);
        _gridToHtml = new MarkupString(GridAsHtmlTable());
    }

   

    void Tick()
    {
        _currentGrid.Tick();
        _gridToHtml = new MarkupString(GridAsHtmlTable());
    }

    void TickMultiple()
    {
        for (var i = 0; i < SelectedIterations; i++)
        {
            _gridToHtml = new MarkupString(string.Empty);
            Console.WriteLine("Got here tick multiple");
            Tick();
        }
    }

    void Test()
    {
        Console.Write("got here");
    }

    private string GridAsHtmlTable()
    {
        var sb = new StringBuilder();
        sb.Append("<TABLE border=1>\n");
        var orderedCells = _currentGrid.GetNextGridLiveAndDead().OrderBy(e => e.XAxis);

        var previousXAxis = 0;

        foreach (var cell in orderedCells)
        {
            CreateHtmlCell(cell, previousXAxis, sb);

            previousXAxis = cell.XAxis;
        }

        sb.Append("</TABLE>");

        return sb.ToString();
    }

    private static void CreateHtmlCell(Cell cell, int previousXAxis, StringBuilder sb)
    {
        if (CellIsInSameRowAsPrevious(cell, previousXAxis))
        {
            CreateNewCellOnCurrentRow(sb, cell);
        }
        else
        {
            CreateNewCellOnNewRow(sb, cell);
        }
    }

    private static bool CellIsInSameRowAsPrevious(Cell cell, int previousXAxis)
    {
        return cell.XAxis == previousXAxis;
    }

    private static void CreateNewCellOnNewRow(StringBuilder sb, Cell cell)
    {
        sb.Append("</TR>\n");
        sb.Append("<TR>\n");
        CreateNewCellOnCurrentRow(sb, cell);
    }

    private static void CreateNewCellOnCurrentRow(StringBuilder sb, Cell cell)
    {
        sb.Append(cell.IsAlive()
            ? "<TD width=50px; height=50px; style='background-color:black'></TD>"
            : "<TD width=50px; height=50px></TD>");
    }
}
